.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem; 
    padding: 2rem;
    height: auto;
    min-height: 100vh;
}
.card-wrapper {
    position: relative;
    overflow: hidden;
    height: 350px;
}
.card {
    background-color: grey;
    position: relative;
    height: 350px;
    border-radius: 2rem;
    font-size: 24px;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 1px solid black;
}

.exp-card{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 350px;
    border-radius: 2rem;
    font-size: 24px;
    padding: 2rem;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 2rem;
    opacity: 1;
    pointer-events: none;
    z-index: -1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.exp-card p{
    width: auto;
    margin-top: 150px;
    font-size: 1rem;
    padding: 0;
    text-align: center;
}
.card-wrapper:hover .card{
    height: 175px;
}
a {
    text-decoration: none;
    color: black;
}