@import url('https://fonts.cdnfonts.com/css/cascadia-code');

.home{
    margin: 0;
    height: 100vh;
}
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-container img {
    max-height: 100%;
    max-width: 100%;
}

.code-container {
    white-space: pre;
    overflow: hidden;
    height: 200px;
    width: 500px;
    max-height: 100%;
}
.code-container pre{
    color: green;
    size: 2rem;
    font-family: 'Cascadia Code', sans-serif;
}

