@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  outline: 1px solid red;
  box-sizing: border-box;
}
body{
  margin: 0px;
  overflow-x: hidden;
}
html{
  background-color: #FFEDE1;
}
.navbar{
  display: flex;
  background-color: white;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  height: 80px;
  z-index: 999;
  top: 0;
  position: sticky;
  width: 100vw;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 4em;

}
.nav-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  margin-left: auto;
}
.navbar-logo {
  display: flex;
  color: #0A369D;
  justify-self: start;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}
.nav-links {
  color: #FC7A1E;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  /* margin-left: 1rem; */
}
.nav-links:hover {
  /* background-color: #5E7CE2; */
  border-bottom-color:#5E7CE2;
  transition: all 0.2s ease-out;
  /* color: white; */
}
.special{
  border-color: #5E7CE2;
  color: #5E7CE2;;
  border-radius: 5px;
}

.fa-bars {
  color:#0A369D;
}
.fa-circle-xmark {
  color:#0A369D;
}
.nav-links-mobile {
  display: none;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .nav-item {
    /* overflow: hidden; */
    /* position: relative; */
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    /* padding-left: 0px; */
    /* position: fixed; */
    width: 100vw;
    height: min-content;
    position: absolute; 
    top: 62px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background-color: #0A369D;
    right: 0;
    transition: all 0.5s ease;
    z-index: 1;
    opacity: 1;
    height: min-content;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100vw;
    display: table;
    margin: 0px;
    box-sizing: border-box;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #0A369D;
    border-radius: 0;
  }

  .fa-circle-xmark {
    color: #fff;
    font-size: 2rem;
    color: #5E7CE2;
    color:#0A369D;
  }

  .nav-links-mobile:hover {
    /*background: #fff;
    color: #242424;
    transition: 250ms; */
  }
  .special{
    border-color: transparent;
    color: #5E7CE2;
  }
}